body{
    background-color: whitesmoke;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 280px;
}

.cta{
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 16px;
    color: black;
    outline: 5px solid black;
    padding: 5px;
    font-size: 26px;
    font-weight: 800;
}

.cta:hover{
    outline: 5px solid whitesmoke;
    color: whitesmoke;
    background-color: black;
}

.stuff{
    background-color: black;
    color: whitesmoke;
    margin-top: 20px;
    padding: 0;
    transition: background-color 3s;
}

.stuff.white{
    background-color: #fff;
    color: black;
}


